.NoLike{
    max-width: 700px;
    max-height:50px;
    color: rgb(0, 0, 0);
    border: 3px solid red;
    text-align: center;
    font-size: 22px;
align-items: center;
grid-column: 2/4;
padding-top:10px;
}